html, body {
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

/* Header */

header{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    height: 60px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin:auto;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

a:hover{
    font-weight: 400;
}


header .right-side{
    display: flex;
    margin-left: auto;
    font-weight: 100;
    gap: 10px;
}

header .left-side{
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}
/* Main 1 */

.main-1{
    display: flex;
    background-color: #1f2937;
    height: 10cm;
    align-items: center;
    padding: 30px 0px;
    margin: auto;
    width: 80%;
}

.main-1 .left-side{
    width: 12cm;
    height: 6cm;
}

.main-1 .right-side{
    width: 12cm;
    height: 6cm;
    margin-left: auto;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-1 .title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;  
    padding: 0px 0px 10px 0px;
}

.main-1 .subtext{
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 10px 0px;
}

.main-1 .button{
    background-color: #3882f6;
    color: white;
    font-family: 'Roboto'   , sans-serif;
    font-weight: 600;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: 0.3s;
}

.main-1 .button:hover{
    background-color: #95bbf8;
    color: white;
}

/* Main 2 */

container.main-2{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    background-color: white;
    flex: auto;
}

.main-2 .title{
    color:#1f2937;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    margin: 40px;
}

.main-2 .container{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: #5b5b5b;
    font-family: Roboto, sans-serif;
    width: 65%;
    flex: auto;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.main-2 .text{
    max-width: 140px;
    text-align: center;
    margin: 10px 0px;
}

.main-2 img{
    border-radius: 8px;
}

.white{
    background-color:white;
}

.grey{
    background-color:#e5e7eb
}

.quote{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    flex: auto;
    height: 10cm;
    justify-content: center;
}

.quote-text{
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #1f2937
}

.quote-author{
    font-size: 16px;
    font-weight: 900;
    color: #1f2937;
    font-family: Roboto, sans-serif;
    align-self: flex-end;
}

.main-3{
    display: flex;
    background-color: #3882f6;
    padding: 40px 70px;
    margin: 100px 250px;
    border-radius: 8px;
    color: white;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
}

.main-3 .button{
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: 0.3s;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    font-family: 'Roboto',sans-serif;
}

.main-3 .button:hover{
    background-color: #95bbf8;
    color: white;
}

.call{
    font-size: 18px;
    font-weight: 700;
}

.main-3 .signup{
    font-weight: 200;
    font-size: 12px;
}

footer{
    padding: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12px;
}